@import "tailwindcss";

@theme {
  --color-accent      : #FFA62B;
  --color-accent-dark : #e0432a;
  --color-white       : #EDE7E3;
  --color-primaryLight: #82C0CC;
  --color-primary     : #489FB5;
  --color-primaryDark : #16697A;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

