# ignore terraform state files because they're per-developer
*.tfstate*
.terraform.lock.hcl
terraform/.terraform/*
dev_variables.tfvars
*.pyc
/api/dist
**/secret_values.tfvars
aws/**/*
.venv/**/*
**/node_modules/**/*
api/out-tsc
api/out
api/source/utils/http.ts
api/out-dev