add this to the desired .tfvars in /terraform
BUCKET_NAME                 = "scapsters-scrapstack-s3"
STAGE_NAME                  = "scapsters-scrapstack-api-gateway"
DB_USERNAME                 = "l...r"
DB_PASSWORD                 = "q...I"
ADMIN_SECRET                = "a...e"
CLOUDFLARE_API_TOKEN        = "Q...NB"
CLOUDFLARE_ACCOUNT_ID       = "a...a"
API_DOCUMENTATION_SITE_PATH = "../api/swagger"
R2_ACCESS_KEY = "d...a"
R2_SECRET_KEY = "d...6"